/*------------------------------------ABOUT US START -----------------------*/
/*-----secc 1----*/
.sectionabout{
  margin-left: 30px;
  margin-right: 30px;
}
.aboutheader{
    background-image: url(../images/example.jpg);
    display: flex;
    height: 620px;
    margin-bottom: 100px;
    background-position: 50% 50%;
    justify-content: center;
    align-items: center;
    background-size:cover;
  }
  .aboutcontenido{
    margin-bottom: 35px;
    text-align: center;
    max-width: 1140px;
  }
  .abouttitle{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 80px;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
  }
  .aboutsubt{
    opacity: 0.6;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: #fff;
  }
  /*-----secc 2-----*/
  #about-content{
    max-width: 1165px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    width: 100%;
  }
  .abouttitle2 h1{
    margin-bottom: 20px;
    color: #1a1b1f;
    font-size: 44px;
    line-height: 62px;
    font-weight: 400;
  }
  .abouttitle2 p{
    opacity: 0.6;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: #1a1b1f;
  }
  .divider{
    height: 1px;
    background-color: #eee;
  }
  .aboutcontext{
    margin-top: 60px;
    margin-bottom: 150px;
    width: 100%;
    align-items: center;
  }
.abouttext{
  font-size: 14px;
  line-height: 26px;
  color: #1a1b1f;
  opacity: 0.6;
  margin-bottom: 10px;
  margin-right: 23px;
  margin-left: 23px;
  width: 43%;
}
  /*-----secc 3-----*/
  .img{
    background-image: url(../images/exa2.jpg);
    max-width: 100%;
    width: 752px;
    height: 460px;
    margin-bottom: 30px;
    background-size: cover;
  }
  .img2{
    background-image: url(../images/exa2.jpg);
    height: 620px;
    padding-bottom: 460px;
    background-size: cover;
    margin-bottom: 150px;
  }
  /*---Secc 4---*/
  .aboutphilosophy{
    width: 62%;
    margin-right: auto;
    margin-bottom: 120px;
    margin-left: auto;
    text-align: center;
  }
  .aboutphilosophy h2{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 50px;
    font-weight: 400;
    color: #1a1b1f;
  }
  .aboutsubt2{
    opacity: 0.6;
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 34px;
  }
  .abouttextdr{
    opacity: 0.6;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
  }
  /* ---------------------------------ABOUT US END --------------------*/