
.container_footer{
    --font-mono:'Montserrat';
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
  }
  
  .imgen{
    margin: auto;
    float: left;
    margin-left: 12%;
  }
  
  .columna{
  line-height:20px;    
}

.columna_1{
  line-height: 20px;
}
.columna_2{
  line-height:20px;
  margin-right: 40px;
}
.columna_3{
  line-height:20px;
}
.columna_4{
  line-height:20px;
  margin-right: 40px;
}
  
  .titulo{
    font-size: 14px;
    color: inherit;
    text-decoration: inherit;
    padding: 0%;
  }
  
  .item{
    color: #616161;
    font-size: 14px;
    color: inherit;
    text-decoration: inherit;
    padding: 0%;
  }
  
  .item:hover{
    color: #b02222;
    font-weight: bold;
  }
  
  .copyright{
    color: #b02222;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding-left:22px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 22px;
  }

  @media screen and (max-width: 700px) {

    .imgen{
      margin-top: 5%;
      margin-left: 10%;
    }
    .columna_1{
      width: 25%;
      margin-bottom: 5%;

    }
    .columna_2{
      margin-bottom: 5%;
    }
    .columna_3{
      margin-bottom: 5%;
    }
    .columna_4{
      width: 20%;
      margin-bottom: 5%;
    }
  }

  @media (min-width: 701px) and (max-width: 1120px) {
    .container_footer{
      display: block;
    }
    .columna{
      margin-left: 14%;
    }
  }
  