
.container_footer{
    --font-mono:'Montserrat';
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
  }
  
  .imgen{
    margin: auto;
    float: left;
  }

.columna_1{
  line-height: 20px;
}
.columna_2{
  line-height:20px;
  margin-right: 40px;
}
.columna_3{
  line-height:20px;
}
.columna_4{
  line-height:20px;
  margin-right: 40px;
}
  
.titulo{
  font-size: 12px;
  color: inherit;
  text-decoration: inherit;
  padding-bottom: 16%;
}
  
.item{
  color: #43464d94;
  font-size: 12px;
  text-decoration: inherit;
  margin-bottom: 30px;
}
  
  .item:hover{
    color: #b02222;
    font-weight: bolder;
  }
  
  .copyright{
    color: #b02222;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding-left:22px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 22px;
  }

  @media screen and (max-width: 700px) {

    .imgen{
      display: flex;
      align-items: center;
      margin-top: 16%;
      margin-bottom: 16%;
    }
    .columna_2{
      margin-left: 15%;
    }
    .columna_4{
      margin-left: 15%;
    }
    .copyright{
      text-align: center;
      margin-right: 8%;
    }
  }

  @media (min-width: 701px) and (max-width: 1120px) {
    .container_footer{
      display: block;
    }
    .columna{
      margin-left: 14%;
    }
  }
  