
/*CSS del container del Monthly*/
.container-fluid{
  --font-mono: 'Montserrat';
  text-align: center;
  background-color: #616161;
  color: #f5f5f5;
  width:auto;
  padding-top: 15%;
  padding-bottom: 20%;
}


/*Footer -> CSS de las columnas*/
.seccion{
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 10px;
  margin: auto;

}

