
  /*Header-css*/
  .Header-button{
    margin: 1mm;
    border: none;
    display: none;
    
  }
  
  .Header-svg1{
    width: 1.5cm;
    height: 1cm;
    background-color: white;
    color: black;
  }
  .Header-h1{
    text-decoration: underline;
  }
  .der{
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .nav{
   justify-content: flex-end;
   align-items: center;
   display: flex;
  }
  .nav-item{
    margin: 0.2cm;
  }
  
  @media screen and (max-width: 768px) {
    
    .Header-button{
      display: flex;
    }
    .nav{
      width: 100%;
      flex-flow: column;
      display: none;  
    }
    .nav.isActive{
      display: flex;
    }
    .der{
      flex-flow: column;
      align-items: center;
    }
    .nav-item{
      line-height: 0.1cm;
    }
    
  }
  .Header-svg{ 
    bottom: 5cm;
    width: 100px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: black;
  }
  .boton1{
    padding-left: 10px;
  }
  .biger{
    color: black;
    text-decoration-color: #00000000;
    font-size: 20px;
    font-weight: 700;
    padding-left: 1cm;
  }
  .links{
    text-decoration-color: #00000000;
    color: rgb(83, 83, 83);
  }
  
  