/* ---------------------------------LOGIN FORM START --------------------------*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 200px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .LoginPageForm h1{
    color: black;
    text-align: center;
  }
  .LoginPageForm label{
    color: black;
  }
  .LoginPageForm a{
    color: rgb(83, 83, 83);
    display: flex;
    margin: 20px 0 0 20%;
  }
  .LoginPageForm a:hover{
    color: rgb(215, 17, 89);
  }
  .btn-dark{
    width: 400px;
    text-align: center;
  }
  .RegisterButton{
    color: black;
    text-align: center;
    margin-top: 80px;
  }
  #Button1_LoginPage{
    background: black;
    color: white;
  }
  #Button1_LoginPage:hover{
    background: #b02222;
    color: white;
  }
  #Button2_LoginPage{
    background: white;
    color: #b02222;
    border: 2px solid #b02222;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  #Button2_LoginPage:hover{
    background: #b02222;
    color: white;
  }
  /* ---------------------------------LOGIN FORM END --------------------------*/
  /* ---------------------------------REGISTER FORM START ----------------------*/
  .form-register {
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin-bottom: 15px;
  }
  .form-register h1{
    color: black;
    text-align: center;
  }
  .form-register label{
    color: black;
  }
  .form-control:focus{
    border-color: #b02222;
    box-shadow:  0 0 0 0.25rem rgba(254, 141, 145, 0.625);;
  }
  .form-register #ButtonSubmit_RegisterPage{
    background: black;
    color: white;
  }
  .form-register #ButtonSubmit_RegisterPage:hover{
    background: #b02222;
  }
    /*
  .decoration1_RegisterPage{
    position: absolute;
    width: 280px;
    height: 280px;
    background: 	#b02222d5;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: -50px; 
  }
  .decoration2_RegisterPage{
    position: absolute;
    width: 200px;
    height: 200px;
    background: 	#b02222;
    border-radius: 20px;
    margin-top: 250px;
    margin-left: -50px; 
  }
  .decoration3_RegisterPage{
    position: absolute;
    width: 150px;
    height: 150px;
    background: #b02222;
    border-radius: 20px;
    margin-top: 500px;
    margin-left: 120px; 
  }*/
  /* ---------------------------------REGISTER FORM END --------------------------*/