/* productos_title start */
#producto_title{
    text-align: center;
}
/* productos_title END */

/* CARD SECTION CSS STYLE START */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;
    gap: 20px;
    padding-bottom: 30px;
  }
  .card {
    width: calc(100% / 3 - 40px);
    height: 620px;
    background-image: url(../img/placer\ 2.jpg);
    padding: 20px;
    border-radius: 10px;
    border-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card h2 {
    position: absolute;
    bottom: 110px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    text-transform: uppercase;
  }
  #desc_corta{
    position: absolute;
    bottom: 40px;
    opacity: 0.6;
    font-size: 14px;
    line-height: 26px;
    color: white;
  }
  @media screen and (max-width: 768px) {
    .cards-container {
      flex-direction: column;
    }
  
    .card {
      width: 100%;
      height: 600px;
    }
    .dream{
      max-width: 100%;
    }
    #desc_corta{
      line-height: 20px;
    }
  }
  
  .claro{
    color: white;
  }
  .precio{
    color: white;
    position: absolute;
    bottom: 10px;
    opacity: 0.6;
    font-size: 14px;
    line-height: 26px;
  }
  /* CARD SECTION CSS STYLE END */ 