.search-bar-container {
    position: absolute;
    left: 1088px;
    top: 16px; 
    z-index: +1;
    justify-content: center;
    align-items: center;
  }

.input {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 16px;
    color: #ccc;
  }

.button {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}