.search-bar-container {
  position: absolute;
  text-align: center;
  top: 430px;
  right: 40%;
  z-index: +3;
  justify-content: center;
  align-items: center;
}

.input {
    border: 1px solid black;
    background-color: white;
    padding: 8px 10px;
    border-right: none;
    font-size: 16px;
    color: black;
    width: 200px;
    max-width: 400px;
    margin-right: 10px;
    border-right-width: 1px;
    border-right-style: solid;
}

.input:focus-visible{
  border: 1px solid black;
  box-shadow: none;
  outline: none;
  border-right: none;
}

.button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid black;
  border-left: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 10px;
  border-left-width: 1px;
  border-left-style: solid;
}

.selected-result {
  background-color: #eee;
  cursor: pointer;
}


@media (max-width: 768px) {
  .search-bar-container {
    position: static;
    padding-top: 8%;
  }

  .input {
    width: 50%;
    font-size: 14px; 
    margin-left: 15px;
    margin-right: 10px;
    border-right-width: 1px;
    border-right-style: solid;
  }
  .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 6px 10px;
    border-left-width: 1px;
    border-left-style: solid;
  }
}
