
.uwu{
    color: black;
  }
  .space{
    padding-bottom: 100px;
    padding-left: 7%
  }
  .dream{
    background-image: url(../img/placer3.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }
  .mid{
    text-align: center;
    padding-bottom: 200px;
  
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .card {
    width: calc(100% / 3 - 20px);
    height: 600px;
    background-image: url(../img/placer\ 2.jpg);
    padding: 20px;
    border-radius: 10px;
    border-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card h2 {
    position: absolute;
    bottom: 60px;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .card p {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 1em;
    line-height: 1.5;
  }
  /*Header-css*/
  .Header-button{
    margin: 1mm;
    background-color: black;
    display: none;
    border-radius: 50%;
    
  }
  .Header-svg{
    width: 1.5cm;
    height: 1.5cm;
    background-color: black;
      
  }
  .Header-svg1{
    width: 1.5cm;
    height: 1.5cm;
  }
  .Header-h1{
    text-decoration: underline;
  }
  .der{
    justify-content: flex-end;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  .nav-item{
    margin: 0.2cm;
  }
  
  

  @media screen and (max-width: 768px) {
    .cards-container {
      flex-direction: column;
    }
  
    .card {
      width: 100%;
      height: 600px;
    }
    .Header-button{
      display: flex;
    }
    .nav{
      width: 100%;
      flex-flow: column;
      display: none;
    }
    .nav.isActive{
      display: flex;
    }
    .der{
      flex-flow: column;
    }
    .nav-item{
      line-height: 0.1cm;
    }
    
  }
  
  .Espacio{
    padding-bottom: 20px;
    padding-top: 100px;
    font-size: 40px;
    color: black;
  }
  .Espacio2{
    padding-bottom: 40px;
    color: #666565;
    font-size: 20px;
  
  }
  .Espacio3{
    padding-top: 40px;
    padding-bottom: 150px;
    color: #666565;
    font-size: 13px;
  }
  .btn{
    background-color: white;
    border-color: white;
    color: black;
    width: 150px;
    height: 50px;
  }
  .feat1{
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .feat1 h2{
    padding-bottom: 1%;
    color: black;
  }
  .boton{
    position: absolute;
    bottom: 30px;
    width: 100px;
    height: 30px;
    text-align: center;
    color: white;
    background-color: black;
  }
  .boton1{
    padding-left: 10px;
  }
  .biger{
    color: black;
    text-decoration-color: #00000000;
    font-size: 20px;
    font-weight: 700;
    padding-left: 4%;
  }
  .links{
    text-decoration-color: #00000000;
    color: rgb(83, 83, 83);
  }
  .a{
    padding-top: 1%;
  }
  .font1{
    font-size: 60px;
    padding-top: 160px;
  }
  .font2{
    font-size: 20px;
    color: #666565;
    padding-bottom: 2%;
  }
  .font3{
    font-size: 20px;
    color: #666565;
  }
  .font6{
    color: #666565;
  }
  /*---------------------------------HOME END-----------------------------------*/